<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add new artist</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="/artists/add" method="POST">
            <div class="input-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="input-box"
                       placeholder="eg. Taylor Swift"
                       maxlength="100" value="{{name}}">
            </div>
            <div class="input-group">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" class="input-box"
                       placeholder="eg. USA"
                       maxlength="100" value="{{country}}">
            </div>
            <div class="input-group">
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre" class="input-box"
                       placeholder="eg. Pop"
                       value="{{genre}}">
            </div>
            <input type="submit" value="Add Artist" class="btn btn-reverse">
        </form>
    </div>
</section>