<section id="search" class="search-wrap">
    <h1>Find Song</h1>
    <form action="/songs/search" class="search-form" method="GET">
        <i class="fas fa-search"></i>
        <input type="search" name="term"
               placeholder="Song title, artist name...">
        <input type="submit" value="search">
    </form>
</section>