<section id="search" class="search-wrap">
    <h1>Find Song</h1>
    <form action="/songs/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="title"
               placeholder="Song title...">
        <input type="submit" value="Search">
    </form>
</section>